
<h1 id="titulo">Green Leaves</h1>
	
<form>
<div>
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
            nombre es requerido
        </div>
    </div>
    Nombre:<input id="nombre" type="text" name="nombre"  required="true" /><br />
</div>
<div>
    E-mail:<input id="email" type="text" name="email" placeholder="Email" required="true"/><br />
</div>
<div>
    Teléfono:<input id="telefono" type="text" name="telefono"  required="true"/><br />
</div>
<div>
    Fecha:<input id="Fecha" type="text" name="fecha" required="true"/><br />
</div>
<div>
    Ciudad y Estado:<input id="ciudadEstado" type="text" name="ciudad" required="true"/><br />
</div>
<input type="submit" value="Enviar" />
</form>
